@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  background: linear-gradient(
    180.63deg,
    rgba(253, 164, 6, 1) -61.24%,
    #15202b 32.5%
  );
}
